.home {
  font-family: Arial, sans-serif;
}

/* HERO */
.hero {
  height: 70vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("https://images.unsplash.com/photo-1560493676-04071c5f467b");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.hero-content {
  text-align: center;
  max-width: 700px;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 20px;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.btn {
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}

.primary {
  background: #38a05c;
  color: white;
}
.primary:hover{
    background: #05802a;
    cursor: pointer;
}

.secondary {
  background: white;
  color: black;
}
.secondary:hover{
    background: #0aad0f;
    cursor: pointer;
}

/* FEATURES */
.features {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  background: #f4fcfd;
}.features:hover{
    background:#e0f7fa;
    cursor:pointer;
}

.feature-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.9);
  font-size: 18px;
}
.features-card:hover{
    
    background:blue;
}

/* CATEGORIES */
.categories {
  padding: 50px;
  text-align: center;
  background: #e7f3fb;
    
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 30px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.9);
  background: #e7f3fb;
}

.category-card {
    
  padding: 30px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.9);
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
}
.category-card:hover {
    background: #c8e6c9;
    cursor: pointer;
}
.cta{
    background: hsl(24, 68%, 69%);
    color: white;
    text-align: center;
    padding: 40px;
    margin: 50px 0;
}
.btn-primary{
    background: #7d74c5;
    color: white;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;

}
.btn-primary:hover{
    background: #2d1ba1;
    cursor: pointer;
}

@media (max-width: 768px) {
  .hero {
    padding: 40px 15px;
    text-align: center;
  }

  .hero h1 {
    font-size: 28px;
  }

  .hero p {
    font-size: 14px;
  }

  .hero-buttons {
    flex-direction: column;
    gap: 12px;
  }
}
.hero {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

/* Overlay */
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

.hero-content {
  position: relative;
  z-index: 2;

  padding: 20px;
  text-align: center;
}

/* TEXT */
.hero-content h1 {
  font-size: 2.2rem;
}

.hero-content p {
  font-size: 1rem;
}

