<<<<<<< HEAD
// === src/pages/Home.css ===
.home-container {
width: 100%;
}


.hero {
background: url('https://images.unsplash.com/photo-1598514983161-0f9c7a509179');
background: url('https://images.unsplash.com/photo-1560493676-04071c5f467b');
background-size: cover;
background-position: center;
padding: 120px 40px;
color: red;
text-align: center;
}


.hero h1 {
font-size: 48px;
font-weight: bold;
}


.hero p {
margin-top: 10px;
font-size: 20px;
}


.hero-btn {
margin-top: 20px;
display: inline-block;
padding: 12px 30px;
background: green;
color: white;
font-size: 18px;
border-radius: 6px;
text-decoration: none;
}


.categories, .featured {
padding: 50px 40px;
text-align: center;
}


.cat-grid, .product-grid {
margin-top: 20px;
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 20px;
}


.cat-card, .product-card {
padding: 30px;
background: #f5f5f5;
border-radius: 10px;
font-size: 20px;
font-weight: bold;
box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.p{
    color:black;
=======
// === src/pages/Home.css ===
.home-container {
width: 100%;
}


.hero {
background: url('https://images.unsplash.com/photo-1598514983161-0f9c7a509179');
background: url('https://images.unsplash.com/photo-1560493676-04071c5f467b');
background-size: cover;
background-position: center;
padding: 120px 40px;
color: red;
text-align: center;
}


.hero h1 {
font-size: 48px;
font-weight: bold;
}


.hero p {
margin-top: 10px;
font-size: 20px;
}


.hero-btn {
margin-top: 20px;
display: inline-block;
padding: 12px 30px;
background: green;
color: white;
font-size: 18px;
border-radius: 6px;
text-decoration: none;
}


.categories, .featured {
padding: 50px 40px;
text-align: center;
}


.cat-grid, .product-grid {
margin-top: 20px;
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 20px;
}


.cat-card, .product-card {
padding: 30px;
background: #f5f5f5;
border-radius: 10px;
font-size: 20px;
font-weight: bold;
box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.p{
    color:black;
>>>>>>> d595fd93add08e801da6b8fac24a12fd83cef0b8
}