<<<<<<< HEAD
.login-container {
background: url('https://images.unsplash.com/photo-1560493676-04071c5f467b');
background-size: cover;
background-position: center;
}


.login-box {
width: 420px;
padding: 40px;
background: rgba(255, 255, 255, 0.9);
border-radius: 15px;
box-shadow: 0 4px 20px rgba(0,0,0,0.3);
text-align: center;
}


.login-box h2 {
font-size: 28px;
color: green;
margin-bottom: 10px;
}


.subtitle {
font-size: 14px;
color: #444;
margin-bottom: 20px;
}


.login-box input {
width: 100%;
padding: 12px;
margin-top: 12px;
border: 1px solid #ccc;
border-radius: 8px;
font-size: 16px;
}


.login-btn {
width: 100%;
padding: 12px;
margin-top: 20px;
background: green;
color: white;
border: none;
border-radius: 8px;
font-size: 18px;
cursor: pointer;
transition: 0.3s;
}


.login-btn:hover {
background: darkgreen;
}


.extra-text {
margin-top: 15px;
font-size: 14px;
}


.extra-text a {
color: green;
text-decoration: none;

}

=======
.login-container {
background: url('https://images.unsplash.com/photo-1560493676-04071c5f467b');
background-size: cover;
background-position: center;
}


.login-box {
width: 420px;
padding: 40px;
background: rgba(255, 255, 255, 0.9);
border-radius: 15px;
box-shadow: 0 4px 20px rgba(0,0,0,0.3);
text-align: center;
}


.login-box h2 {
font-size: 28px;
color: green;
margin-bottom: 10px;
}


.subtitle {
font-size: 14px;
color: #444;
margin-bottom: 20px;
}


.login-box input {
width: 100%;
padding: 12px;
margin-top: 12px;
border: 1px solid #ccc;
border-radius: 8px;
font-size: 16px;
}


.login-btn {
width: 100%;
padding: 12px;
margin-top: 20px;
background: green;
color: white;
border: none;
border-radius: 8px;
font-size: 18px;
cursor: pointer;
transition: 0.3s;
}


.login-btn:hover {
background: darkgreen;
}


.extra-text {
margin-top: 15px;
font-size: 14px;
}


.extra-text a {
color: green;
text-decoration: none;

}

>>>>>>> d595fd93add08e801da6b8fac24a12fd83cef0b8
