<<<<<<< HEAD
.products-container {
padding: 50px;
}
.products-container h1 {
text-align: center;
margin-bottom: 20px;
color: green;
}
.products-grid {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 15px;
margin-left:200px;
margin-right:200px;
background:#f0f0f0;
padding:20px;
border-radius:10px;
padding:20px;
}
.product-card {
background: #fff;
padding: 5px;
margin-left:100px;
margin-right:100px;
border-radius: 10px;
border-color:black;
box-shadow: 0 2px 10px rgba(0,0,0,0.1);
text-align: center;
margin:5px;
}
.product-card img {
width: 100%;
height:200px;
border-radius: 20px;
object-fit: cover;
}
.product-card:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}
.details-btn {
display: inline-block;
margin-top: 12px;
background: green;
color: white;
padding: 8px 20px;
border-radius: 6px;
text-decoration: none;
=======
.products-container {
padding: 50px;
}
.products-container h1 {
text-align: center;
margin-bottom: 20px;
color: green;
}
.products-grid {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 15px;
margin-left:200px;
margin-right:200px;
background:#f0f0f0;
padding:20px;
border-radius:10px;
padding:20px;
}
.product-card {
background: #fff;
padding: 5px;
margin-left:100px;
margin-right:100px;
border-radius: 10px;
border-color:black;
box-shadow: 0 2px 10px rgba(0,0,0,0.1);
text-align: center;
margin:5px;
}
.product-card img {
width: 100%;
height:200px;
border-radius: 20px;
object-fit: cover;
}
.product-card:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}
.details-btn {
display: inline-block;
margin-top: 12px;
background: green;
color: white;
padding: 8px 20px;
border-radius: 6px;
text-decoration: none;
>>>>>>> d595fd93add08e801da6b8fac24a12fd83cef0b8
}